.no_reviews {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container textarea {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}
