.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.button:disabled {
  cursor: not-allowed;
}
